		body{
			background-color: white;
			background-size: white;
			font-size: 20px;
			font-family: "Times New Roman";
		}
		img{
			width: 100%;
			padding: 0px;
			border: 0px;
			margin: 0px;
		}
		#container {
			background-color: transparent ;
			padding-bottom: 20px;
		}
        .navbar {
            background-color: transparent;
            border: none;
            text-align: center;
        }
        #menu {
            margin: 20px;
        }
		tr{
			margin-right: 50px;
		}
		p{
			border-top: 50px;
		}
		table{
			border:red;
		}