		body{
			background-color: ;
			background-size: ;
			font-size: 20px;
			font-family: "Times New Roman";
		}
		img{
			width: 50%;
			height: 50%;
			padding: 20px;
		}
		.container {
			background-color: transparent ;
			padding-bottom: 20px;
		}
        .navbar {
            background-color: transparent;
            border: none;
            text-align: center;
        }
        #menu {
            margin: 20px;
        }