{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <section class="container">
        <article class="col-xs-12">
            <form role="form" method="post" action="{% url 'account_details' %}">
                <legend>Update personal details</legend>
                {% csrf_token %}
                {{ form| as_bootstrap}}
                <section class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </section>
            </form>
        </article>
    </section>
    <section class="container">
        <article class="col-xs-12">
            <a href="{% url 'user_comments' %}"><button type="button" class="btn btn-primary">Comment</button></a>
        </article>
    </section>
    <section class="container">
        <article class="col-xs-12">
            <form role="form" method="post" action="{% url 'account_details' %}">
                <legend>Payment options</legend>
                {% csrf_token %}
                {{ form| as_bootstrap}}
                <section class="form-group">
                    <button type="submit" class="btn btn-primary">Pay</button>
                </section>
            </form>
        </article>
    </section>
{% endblock %}