{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      Stripe.publishableKey = '{{ publishable }}';
  </script>
  <script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}
{% block content %}
    <section class="container">
        <article class="col-xs-12">
            <form role="form" method="post" id="register-form" action="{% url 'register' %}">
                <section id="credit-card-errors" style="display:none">
                    <article class="alert-message block-message error" id="stripe-error-message"></article>
                </section>
                <legend>Create a new account</legend>
                {% csrf_token %}
                {{ form| as_bootstrap }}
                <section class="form-group">
                    <button id="validate_card_btn" name="commit" type="submit" class="btn btn-primary">Validate Credit Card</button>
                </section>
            </form>
        </article>
    </section>
{% endblock %}