{% extends "base.html" %}
{% block content %}
    <section class="container">
        <article class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Pay</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.description }}</td>
                        <td>£{{ product.price }}</td>
                        <td>{{ product.paypal_form.sandbox }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
{% endblock %}
