{%  extends "base.html" %}
{% block content %}
    <section class="container">
		<section class="row">
			<article class="col-xs-12">
				<p>
					We take pride in our work, giving you the clearest view from every single window of your home. If you would like to speak to us about our services
                    then give us a call or send an email with any questions and we will reply soon. Customer service is always our top priority, so if you are unhappy with
                    any part of our service please call us, so we can speak to you straight away and resolve it.
				</p>
                <p>
                    Why not listen to what some of our customers have to say about us!
                </p>
			</article>
            <article>

            </article>
		</section>
		<section class="row">
			<article class="col-xs-6">
				Our address:
				<ul>Dale's Window Washers</ul>
				<ul>Unit 8</ul>
				<ul>Clearsky Business Park</ul>
				<ul>Gainsbrough</ul>
				<ul>Lincolnshire</ul>
				<ul>LN12 2ZX</ul>
			</article>
			<article class="col-xs-6">
				Email Address:
				<ul>
					<a href="mailto:daleswindowwashers@now.net">Dales Window Washers</a>
				</ul>
			</article>
		</section>
	</section>
        <script src="{% static "static/js/timer.js"%}"></script>
{%  endblock %}