{%  load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dale's Window Washers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

</head>
<body>
	<section class="container">
        <img src="{%  static "images/Logo1.jpg" %}"/>
		<nav class="navbar">
            <li><a id="menu" href="#">Home</a></li>
            <li><a id="menu" href="#">About Us</a></li>
            <li><a id="menu" href="#">Comments</a></li>
            <li><a id="menu" href="{% url 'register' %}">Register</a></li>
            <li><a id="menu" href="#">Log In</a></li>
            <li><a id="menu" href="#">Log Out</a></li>

		</nav>
    </section>

    {%  block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
