{%  extends "base.html" %}
{% block content %}
    <section class="container">
        <figure class="col-xs-5">
            <img src="/static/images/Wash1.jpg" alt="Window Washing photo"/>
        </figure>
        <article class="col-xs-7">
            <p>
                Hi, my name is Dale and i take personal pride in ensuring each and everyone of my customers
                is given the best possible service, by myself and my dedicated team. We started out as a small
                operation with just myself and over the past few years have expanded our customer base and made our
                team bigger to cope with the demand for our top rate service built on trust and respect.
                We currently work in the Gainsbough area with competitive prices, so if you want to see your windows
                shine and sparkle in the sunshine, let us know, we can arrange how often we come round, with any different
                payment options, from cash to online payments, including subscription or one off payments. We have a member
                section on the website, as well as comments from all our customers to show our dedication to service and honesty
                while we continually improve what we offer.
            </p>
        </article>
        <article class="col-xs-12">
            <table>
                <tr>
                    <th width="250">Description</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Small terraced house</td>
                    <td>£5.20</td>
                </tr>
                <tr>
                    <td>Medium semi-detached house</td>
                    <td>£6.30</td>
                </tr>
                <tr>
                    <td>Large semi-detached house</td>
                    <td>£7.00</td>
                </tr>
                <tr>
                    <td>Medium detached house</td>
                    <td>£7.20</td>
                </tr>
                <tr>
                    <td>Large detached house</td>
                    <td>£10.50</td>
                </tr>
                <tr>
                    <td>Extra large detached house</td>
                    <td>£15.00</td>
                </tr>
                <tr>
                    <td>Conservatory full clean</td>
                    <td>£6.00</td>
                </tr>
            </table>
        </article>
        <article class="col-xs-12">
            <p>
                At the moment we can only offer our services to personal homes and not business premises.
            </p>
        </article>
    </section>
{% endblock %}