<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dale's Window Washers</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">

</head>
<body>
	<section class="container">
        <img src="{{ url_for ('static', filename='images/sof1.gif')}}" alt="Supporting Our Future Logo"/>
		<nav class="navbar">
            <a id="menu" href="{{ url_for('index') }}">Home</a>
            <a id="menu" href="{{ url_for('Account') }}">Account</a>
            <a id="menu" href="{{ url_for('AboutUs') }}">About Us</a>
            <a id="menu" href="{{ url_for('Comments') }}">Comments</a>
		</nav>
    </section>

    {%  block content %}
    {% endblock %}

    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>

</body>
</html>
