{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
    <section class="container">
        {% if user.id != null %}
            <th><a href="{% url 'new_comment' %}">
                <button type="submit" class="btn btn-info">New Post</button>
            </a></th>
        {% endif %}
        <article class="col-xs-12">
            <h1>Customer Comments</h1>
        </article>
        <article class="col-xs-12">
            <table>
                {% for post in posts %}
                    <tr>
                        <th>{{ post.content }}</th>
                        {% if user.is_superuser %}
                            <th><a href="{% url 'delete_comment' post.id %}">
                                <button type="submit" class="btn btn-info">Delete</button>
                            </a></th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ post.user }}</th>
                    </tr>
                    <tr>
                        <th>{{ post.created_date }}</th>
                    </tr>
                {% endfor %}
            </table>
        </article>
    </section>
{% endblock %}


