{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <section class="col-xs-12">
            <article>
                <table>
                    <tr></tr>Content</tr>
                    <tr>{{ post.content }}</tr>
                    <tr>Author</tr>
                    <tr>{{ post.author }}</tr>
                    <tr>Submitted</tr>
                    <tr>{{ post.created_date }}</tr>
                </table>
            </article>
        </section>
    {% endfor %}
{% endblock %}