{% extends "base.html" %}
{% block content %}
    <section class="container">
        <article class="col-xs-12">
            <h1>Customer Comments</h1>
        </article>
        <article class="col-xs-12">
                <table>
                    {% for post in posts %}
                        <tr>
                            <th>{{ post.content }}</th>
                        </tr>
                        <tr>
                            <th>{{ post.author }}</th>
                        </tr>
                        <tr>
                            <th>{{ post.created_date }}</th>
                        </tr>
                    {% endfor %}
                </table>
        </article>
    </section>
{% endblock %}