{% extends "base.html" %}
{%  load staticfiles %}
{% block head_js %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})</script>
{% endblock head_js %}
{% block content %}
    {% load bootstrap_tags %}
    <section class="container">
        <article class="col-xs-12">
            <h1> New customer Comment</h1>
        </article>
        <form method="POST" class="col-xs-12">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-info">Post</button>
        </form>
    </section>
{% endblock %}